LIBRARY_SEARCH_PATHS = $(inherited) $(SRCROOT)/../.build/debug
SWIFT_INCLUDE_PATHS = $(inherited) $(SRCROOT)/../.build/debug $(SRCROOT)/../Packages/**
OTHER_LDFLAGS = $(inherited) -L$(SRCROOT)/../.build/debug $(inherited) $(SRCROOT)/../.build/debug/BSON.a $(SRCROOT)/../.build/debug/BlueSocket.a $(SRCROOT)/../.build/debug/MongoKitten.a
